# Virtual environment
venv/

# Python artifacts
__pycache__/
*.py[cod]
*.pyc

# Environment files
.env

# Jupyter
.ipynb_checkpoints/

# Editor
.vscode/
*.swp

# OS files
.DS_Store
Thumbs.db

# Test/build
.pytest_cache/
dist/
build/
# Logs
*.log
